@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Twinkle+Star&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.twinkle-star-regular {
   font-family: "Twinkle Star", cursive;
   font-weight: 400;
   font-style: normal;
}

.libre-baskerville-bold {
   font-family: "Libre Baskerville", serif;
   font-weight: 700;
   font-style: normal;
   text-shadow: 2px 2px 3px rgb(131, 24, 67);
}

#libre-baskerville-italic {
   font-family: "Libre Baskerville", serif;
   font-size: 25px;
   font-weight: 700;
   font-style: italic;
   text-shadow: 3px 3px 3px rgb(131, 24, 67);
}