@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.twinkle-star-regular {
   font-family: "Twinkle Star", cursive;
   font-weight: 400;
   font-style: normal;
}

.libre-baskerville-bold {
   font-family: "Libre Baskerville", serif;
   font-weight: 700;
   font-style: normal;
   text-shadow: 2px 2px 3px rgb(131, 24, 67);
}

#libre-baskerville-italic {
   font-family: "Libre Baskerville", serif;
   font-size: 25px;
   font-weight: 700;
   font-style: italic;
   text-shadow: 3px 3px 3px rgb(131, 24, 67);
}

.twinkle-star-regular {
   font-family: "Twinkle Star", cursive;
   font-weight: 400;
   font-style: normal;
}

.libre-baskerville-bold {
   font-family: "Libre Baskerville", serif;
   font-weight: 700;
   font-style: normal;
   text-shadow: 2px 2px 3px rgb(131, 24, 67);
}

#libre-baskerville-italic {
   font-family: "Libre Baskerville", serif;
   font-size: 25px;
   font-weight: 700;
   font-style: italic;
   text-shadow: 3px 3px 3px rgb(131, 24, 67);
}

.gradient-background {
   background: linear-gradient(
      90deg,
      rgba(230, 46, 142, 0.5) 50%,
      rgba(230, 46, 142, 0.3) 70%,
      rgba(230, 46, 142, 0.2) 80%,
      rgba(230, 46, 142, 0) 100%
   );
}

@media (max-width: 640px) {
   .gradient-background {
      background: linear-gradient(
         90deg,
         rgba(230, 46, 142, 0.4) 40%,
         rgba(230, 46, 142, 0.3) 70%,
         rgba(230, 46, 142, 0.2) 80%,
         rgba(230, 46, 142, 0.1) 90%,
         rgba(230, 46, 142, 0) 100%
      );
   }
}

.quicksand {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.quicksand-bold {
   font-family: "Quicksand", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: bold;
}
